/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
body{
	font-family: 'Muli', sans-serif;
	background-color: #eee;
}
html,body{
	height: 100%;
}
html { overflow-y: scroll; }